<?xml version="1.0"?>
<config>
    <modules>
        <IdentityMind_IdentityMindEdna>
            <version>0.1.2</version>
        </IdentityMind_IdentityMindEdna>
    </modules>
    <global>
        <models>
            <identitymindedna>
                <class>IdentityMind_IdentityMindEdna_Model</class>
            </identitymindedna>
        </models>
        <helpers>
            <identitymindedna>
                <class>IdentityMind_IdentityMindEdna_Helper</class>
            </identitymindedna>
        </helpers>
        <events>
            <sales_quote_payment_import_data_before>
                <observers>
                    <identitymind_identitymindedna>
                        <class>identitymindedna/observer</class>
                        <method>verifyCreditCardBefore</method>
                        <type>singleton</type>
                    </identitymind_identitymindedna>
                </observers>
            </sales_quote_payment_import_data_before>
            <sales_order_payment_place_end>
                <observers>
                    <identitymind_identitymindedna>
                        <class>identitymindedna/observer</class>
                        <method>applyActionToOrder</method>
                        <type>singleton</type>
                    </identitymind_identitymindedna>
                </observers>
            </sales_order_payment_place_end>
            <sales_order_payment_capture>
                <observers>
                    <identitymind_identitymindedna>
                        <class>identitymindedna/observer</class>
                        <method>sendFeedback</method>
                        <type>singleton</type>
                    </identitymind_identitymindedna>
                </observers>
            </sales_order_payment_capture>
            <sales_order_payment_void>
                <observers>
                    <identitymind_identitymindedna>
                        <class>identitymindedna/observer</class>
                        <method>sendFeedback</method>
                        <type>singleton</type>
                    </identitymind_identitymindedna>
                </observers>
            </sales_order_payment_void>
            <sales_order_payment_cancel>
                <observers>
                    <identitymind_identitymindedna>
                        <class>identitymindedna/observer</class>
                        <method>sendFeedback</method>
                        <type>singleton</type>
                    </identitymind_identitymindedna>
                </observers>
            </sales_order_payment_cancel>
            <sales_order_payment_save_after>
                <observers>
                    <payment_before_save>
                        <class>identitymindedna/observer</class>
                        <method>orderPaymentSaveAfter</method>
                    </payment_before_save>
                </observers>
            </sales_order_payment_save_after>
            <payepalfix_payment_review_completed_after>
                <observers>
                    <payepalfix_payment_review>
                        <class>identitymindedna/observer</class>
                        <method>paymentReviewCompletedAfter</method>
                    </payepalfix_payment_review>
                </observers>
            </payepalfix_payment_review_completed_after>
            <!--
            <sales_place_order_after>
                <observers>
                    <payment_before_save>
                        <class>identitymindedna/observer</class>
                        <method>placeOrderAfter</method>
                    </payment_before_save>
                </observers>
            </sales_place_order_after>-->
        </events>
        <resources>
            <identitymindedna_setup>
                <setup>
                    <module>IdentityMind_IdentityMindEdna</module>
                </setup>
            </identitymindedna_setup>
            <identitymindedna_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </identitymindedna_write>
            <identitymindedna_read>
                <connection>
                    <use>default_read</use>
                </connection>
            </identitymindedna_read>
        </resources>
        <blocks>
            <identitymind>
                <class>IdentityMind_IdentityMindEdna_Block</class>
            </identitymind>
            <adminhtml>
                <rewrite>
                    <sales_order_payment>IdentityMind_IdentityMindEdna_Block_Sales_Order_Payment</sales_order_payment>
                </rewrite>
            </adminhtml>
        </blocks>

    </global>
    <frontend>
        <routers>
            <identitymindedna>
                <use>standard</use>
                <args>
                    <module>IdentityMind_IdentityMindEdna</module>
                    <frontName>identitymindedna</frontName>
                </args>
            </identitymindedna>
            <!--<paypal>
                <args>
                    <modules>
                        <IdentityMind_IdentityMindEdna before="Mage_Paypal">IdentityMind_IdentityMindEdna_Paypal</IdentityMind_IdentityMindEdna>
                    </modules>
                </args>
            </paypal>-->
        </routers>
        <layout>
            <updates>
                <identitymindedna module="IdentityMind_IdentityMindEdna">
                    <file>identitymindedna.xml</file>
                </identitymindedna>
            </updates>
        </layout>
    </frontend>
    <default>
        <identitymind>
            <access>
                <text>
                    <![CDATA[
                        <a href='http://www.identitymind.com/im/form.asp?i=4' onclick='window.open(this.href); return false;'>
                            Request Credentials</a>
                        <br /><br />
                    ]]>
                </text>
            </access>
        </identitymind>
    </default>
</config>